<div class="game-input-section">
  <div class="mat-multiplication-table">
    <div class="input-row">
      <div *ngFor="let item of numbersMultiplicationTable; let i = index trackBy: trackByFn" class="input-container">
        <mat-form-field appearance="fill">
          <mat-label>{{ number }} x {{ i + 1 }}</mat-label>
          <input [(ngModel)]="numbersMultiplicationTable[i]" (change)="loadResult()"
                 class="input-field" type="number" matInput>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
