.input-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-container {
  flex: 0 0 20%;
  padding: 2vh;
}

@media (max-width: 1024px) {
  .input-container {
    flex: 1 0 24%;
  }
}

@media (max-width: 768px) {
  .input-container {
    flex: 1 0 33.33%; /* 3 items per row */
  }
}

/* Adjustments for very small screens */
@media (max-width: 480px) {
  .input-container {
    flex: 1 0 50%; /* 2 items per row */
  }
}
