<div class="game-input-section">
  <div class="mat-multiplication-table">
    <div class="input-row">
      <div *ngFor="let item of numbers; let i = index" class="input-container">
        <mat-form-field appearance="fill">
          <mat-label>{{ number }} x {{ i + 1 }}</mat-label>
          <input (change)="handleChange($event, i)"
                 [value]="userInputs ? userInputs.numbersMultiplicationTable[i] : ''"
                 matInput>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
