.exercise {
  font-size: 5vh;
  text-align: center;
  word-break: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
}

.progress-section {
  margin-top: 4vh;
  margin-bottom: 2vh;
  color: #3F51B5;
  width: 100%;
  text-align: center;

  .progress {
    height: 30px;
  }
}

.game-button-group {
  display: flex;
  margin-top: 2%;

  button {
    margin: 0 5px;
  }
}

.submit-button {
  font-size: large;
  border-radius: 30px !important;
  height: 60px !important;
  width: 170px !important;
}

.secondary-button {
  border-radius: 30px;
  height: 40px !important;
  width: 150px !important;
}

.number-ray {
  max-width: 60vh;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}
