<app-header [gradeSelected]="true"></app-header>
<p-toast/>
<div class="container">
  <div *ngIf="category==='SingleResultOperation'">
    <app-math-single-result-operation [exercise]="exercise"
                                      [userInputs]="userInputs"></app-math-single-result-operation>
  </div>
  <div *ngIf="category==='NeighborOperation'">
    <app-math-neighbor-operation [exercise]="exercise" [userInputs]="userInputs"></app-math-neighbor-operation>
  </div>
  <div *ngIf="category==='SortingOperation'">
    <app-math-sorting-operation [exercise]="exercise" [userInputs]="userInputs"></app-math-sorting-operation>
  </div>
  <div *ngIf="category==='TableOperation'">
    <app-math-multiplication-table [exercise]="exercise"></app-math-multiplication-table>
  </div>
  <button (click)="verify()" class="submit-button" color="primary" mat-raised-button>Submit</button>
  <button (click)="toggleHint()" mat-stroked-button>Show hint</button>
  <div *ngIf="exercise && showHint" class="hint">
    <p-messages
      [(value)]="hintMessage"
      [closable]="false"
      [enableService]="false"/>
  </div>
  <div class="number-ray-section">
    <img alt="Number Ray for Visualization" class="number-ray" src="assets/number-ray.svg">
  </div>
  <div class="progress-section">
    <div>
      <h2>{{ user.level }}</h2>
      <div class="progress" style="width: 100%">
        <div [attr.aria-valuenow]="user.experience" [style.width]="user.experience + '%'"
             aria-valuemax="100" aria-valuemin="0" class="progress-bar progress-bar-striped progress-bar-animated"
             role="progressbar"></div>
      </div>
    </div>
  </div>
</div>
