<div class="long-calculation">
  <div class="input-container">
    <ng-container *ngFor="let digit of operand1; let i = index trackBy: trackByFn">
      <input [(ngModel)]="operand1[i]" [disabled]="true" class="input-field" maxlength="1" pInputText type="text"/>
    </ng-container>
  </div>

  <div class="input-container">
    <div class="operator">
      <h1>{{ operator }}</h1>
    </div>
    <ng-container *ngFor="let digit of operand2; let i = index trackBy: trackByFn">
      <input [(ngModel)]="operand2[i]" [disabled]="true" class="input-field" maxlength="1" pInputText type="text"/>
    </ng-container>
  </div>

  <div class="input-container-carry-over">
    <ng-container *ngFor="let digit of carryOverInputs; let i = index trackBy: trackByFn">
      <input (change)="loadResult()" [(ngModel)]="carryOverInputs[i]" class="input-field-carry-over" maxlength="1"
             pInputText
             type="number"/>
    </ng-container>
  </div>
  <p-divider class="long-calculation-divider"/>
  <div class="input-container">
    <ng-container *ngFor="let digit of resultInputs; let i = index trackBy: trackByFn">
      <input (change)="loadResult()" [(ngModel)]="resultInputs[i]" class="input-field" maxlength="1" pInputText
             type="number"/>
    </ng-container>
  </div>
</div>
