<div class="login">
  <div class="sidenav">
    <div class="login-main-text">
      <h2>User Registration</h2>
    </div>
  </div>
  <div class="main">
    <div class="col-md-6 col-sm-12">
      <div class="login-form">
        <form (ngSubmit)="register()" [formGroup]="form">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input formControlName="username" matInput placeholder="Username">
              @if (form.get('username')?.errors?.['required']) {
                <mat-error>Please choose a username</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput placeholder="Enter your email">
              @if (form.get('email')?.errors?.['required']) {
                <mat-error>Please choose an email</mat-error>
              }
              @if (form.get('email')?.errors?.['email']) {
                <mat-error>The email format is not valid</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput placeholder="Password" type="password">
              @if (form.get('password')?.errors?.['required']) {
                <mat-error>Please choose a password</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>Repeat Password</mat-label>
              <input formControlName="repeatPassword" matInput placeholder="Repeat Password" type="password">
              @if (passwordMismatch) {
                <mat-error>Passwords do not match</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>Grade</mat-label>
              <mat-select [formControl]="gradeControl" required>
                <mat-option>--</mat-option>
                @for (grade of grades; track grade) {
                  <mat-option [value]="grade">{{ grade.title }}</mat-option>
                }
              </mat-select>
              @if (gradeControl.hasError('required')) {
                <mat-error>Please choose a grade</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="button-group">
            <button class="btn btn-login" type="submit">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

