<div class="sidenav">
  <div class="login-main-text">
    <h2>Welcome to Mathify!</h2>
    <p>Login or register from here to access.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form (ngSubmit)="login()">
        <div class="form-group">
          <mat-form-field>
            <mat-label>User Name</mat-label>
            <input matInput [(ngModel)]="userName" name="userName" placeholder="User Name" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password" type="password" name="password" placeholder="Password" required>
          </mat-form-field>
        </div>
        <div class="button-group">
          <button type="submit" class="btn btn-login">Login</button>
          <button type="button" (click)="register()" class="btn btn-outline-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

