<div class="container">
  <h1>Math Exercise - {{ exercise ? exercise.exerciseSubType : '' }}</h1>
  <h2 class="exercise">{{ exercise ? exercise.exercise : '' }}</h2>
  <div class="input-section">
    <div class="input-group">
      <mat-form-field appearance="fill">
        <mat-label>Lower Neighbor</mat-label>
        <input (change)="changeLowerNeighbor($event)" [value]="userInputs?.lowerNeighbor" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Upper Neighbor</mat-label>
        <input (change)="changeUpperNeighbor($event)" [value]="userInputs?.upperNeighbor" matInput>
      </mat-form-field>
    </div>
    <div class="button-group">
      <button (click)="displaySolution()" color="primary" mat-stroked-button>Show Solution</button>
    </div>
    <div *ngIf="showSolution" class="solution">
      <p>The correct answer is: {{ exercise ? exercise.result : '' }}</p>
    </div>
  </div>
</div>
