<div class="container">
  <h1>Math Exercise - {{ exercise ? exercise.exerciseSubType : '' }}</h1>
  <h2 class="exercise">{{ exercise ? exercise.exercise : '' }}</h2>
  <div class="input-section">
    <div class="input-group">
      <mat-form-field appearance="fill">
        <mat-label>Lower Neighbor</mat-label>
        <input [value]="firstAnswer" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Upper Neighbor</mat-label>
        <input [value]="secondAnswer" matInput>
      </mat-form-field>
      <button (click)="displaySolution()" class="submit-button" color="primary" mat-raised-button>Submit</button>
    </div>
    <div class="button-group">
      <button (click)="displaySolution()" color="primary" mat-stroked-button>Show Solution</button>
      <button (click)="toggleHint()" mat-stroked-button>Show hint</button>
    </div>
    <div *ngIf="showSolution" class="solution">
      <p>The correct answer is: {{ exercise ? exercise.result : '' }}</p>
    </div>
    <div *ngIf="showHint" class="hint">
      <p>Hint: {{ hint }}</p>
    </div>
  </div>
</div>
