/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

.login {
  display: flex;
  height: 100%;

  .sidenav {
    height: 100%;
    width: 30%;
    background-color: #3F51B5;
    overflow-x: hidden;
    padding-top: 20px;

    .login-form {
      margin-top: 20%;
    }

    .login-main-text {
      margin-top: 20%;
      padding: 60px;
      color: #fff;
    }

    .login-main-text h2 {
      font-weight: 300;
    }
  }

  .main {
    padding: 0px 10px;
    height: 100%;
    width: 70%;

    .btn-login {
      background-color: #3F51B5 !important;
      color: #fff;
      margin-right: 5px;
    }

    mat-form-field {
      margin-right: 12px;
      padding-bottom: 50px;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      margin-top: 20%;
    }
  }
}


