/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/scss/bootstrap';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

html, body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

.login {
  display: flex;
  height: 100vh;

  .sidenav {
    height: 100vh;
    width: 30%;
    background-color: #3F51B5;
    overflow-x: hidden;
    padding-top: 20px;

    .login-main-text {
      margin-top: 20%;
      padding: 60px;
      color: #fff;
    }

    .login-main-text h2 {
      font-weight: 300;
    }
  }

  .main {
    padding: 0 10px;
    height: 100vh;
    max-height: 100vh;
    width: 70%;
    overflow: auto;

    .btn-login {
      margin-right: 5px;
    }

    mat-form-field {
      margin-right: 12px;
      padding-bottom: 50px;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      margin-top: 20%;
    }
  }
}

.playButtonContainer {
  width: 100% !important;
  text-align: center !important;
  padding-top: 5%;

  .playButton {
    border-radius: 30px !important;
    font-size: large !important;
    height: 60px !important;
    width: 280px !important;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  input {
    width: 100%;
    height: 30px;
    text-align: center;
    margin: 0 5px;
  }
}

.game-input-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 14vh;
}

.container {
  padding-top: 4vh;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-section {
  width: 100%;
  text-align: center;
  margin-top: 3vh;

  button {
    margin: 0 5px;
  }

  .submit-button {
    background-color: #41B06E !important;
  }
}

.button-group {
  display: flex;
  margin-top: 5%;

  button {
    margin: 0 5px;
  }
}

.solution {
  margin-top: 20px;
  color: green;
}

.hint {
  margin-top: 20px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

