.scoreboard {
  padding-left: 10%;
  padding-right: 10%;
  max-height: 60vh;
  overflow: auto;
  width: 100%;
}

.scoreboard-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 3%;
}

h1 {
  padding-top: 40px;
  font-size: 50px;
}
