.scoreboard {
  padding-left: 10%;
  padding-right: 10%;
  max-height: 60vh;
  overflow: auto;
  width: 100%;
}

.scoreboard-title {
  text-align: center;
  margin-bottom: 3%;
}

h1 {
  font-size: 5vh;
}

.highlight {
  background-color: #f0f0f0;
  font-weight: bold;
}
