<div class="login">
  <div class="sidenav">
    <div class="login-main-text">
      <h2>Welcome to Mathify!</h2>
      <p>Login or register from here to access.</p>
    </div>
  </div>
  <div class="main">
    <div class="col-md-6 col-sm-12">
      <div class="login-form">
        <form (ngSubmit)="login()" [formGroup]="form">
          <div class="form-group">
            <mat-form-field>
              <mat-label>User Name</mat-label>
              <input formControlName="username" matInput placeholder="Username">
              @if (form.get('username')?.errors?.['required']) {
                <mat-error>Please choose a username</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput placeholder="Password" type="password">
              @if (form.get('password')?.errors?.['required']) {
                <mat-error>Please choose a password</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="button-group">
            <button class="btn btn-login" type="submit">Login</button>
            <button (click)="register()" color="primary" mat-stroked-button>Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

