.row {
  width: 100% !important;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 15%;
}

.playButton {
  width: 100% !important;
  padding-left: 50%;
  padding-right: 50%;
  padding-top: 5%;
}

.card-disabled {
  opacity: 0.5; /* Dim the card */
  background-color: #f0f0f0; /* Change the background color to a light grey */
  color: #ccc; /* Make the text color lighter to appear disabled */
  pointer-events: none; /* Prevents all interactions */
}

.grade-mode-selection {
  padding-top: 10%;
  width: 100% !important;
  text-align: center;
}

.card-disabled .card-body {
  cursor: not-allowed;
}

.card-disabled .material-icons {
  color: #ccc; /* Grey out the icons too */
}
